body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  background-color:rgb(255, 248, 240);
  margin-bottom: 200px;
  height: 100%;
}

.content {
  margin: 3em;
  max-width: 800px;
  height: 100%;
}

h1 {
  font-weight: 400;
  font-size: 2.2em;
}

h2 {
  font-weight: 400;
  font-size: 1.8em;
}

h3 {
  font-weight: 500;
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
  font-weight: 400;
}

.profile-pic {
  width: 20em;
  height: 20em;
  border: 8px solid rgb(155, 148, 140);
  border-radius: 32px;
}

a {
  text-decoration: none;
  color: rgb(155, 148, 140);
}

a sup {
  padding: 0 2px;
  color: rgb(155, 148, 140);
}

.links {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid rgb(155, 148, 140);
}

.links p {
  line-height: 1.8;
}

.links a {
  text-decoration: none;
  color: rgb(155, 148, 140);
}

.links a:hover {
  text-decoration: underline;
}
