body {
  font-family: Consolas, monaco, monospace;
  max-width: 800px;
  margin: 3em;
  color: #333333;
  font-size: 1em;
  background-image: url("static/windows-xp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.window-body {
  padding: 10px;
}

.window {
  position: absolute;
  z-index: 10;
  width: 400px;
}

.title-bar {
  cursor: move;
}
